$color-blue-dark-1: #11224D;
$color-blue-dark-2: #193A6F;

$color-blue-light-1: #2C599D;
$color-blue-light-2: #5884C4;

$color-orange-dark-1: #e94100;
$color-orange-dark-2: #F98125;

$color-orange-light-1: #FB9B50;